/**
    Animations for the svg cartoon
    Grabs each moving element by its ID and applys the correct matrix transform
**/
#james {
    animation: levitate 3s ease-in-out infinite;
}

#shadow {
    animation: shadow-grow-shrink 6s ease-in-out infinite;
}

#docker-sphere {
    animation: move-orb 42s ease-in-out infinite;
}
#html-sphere {
    animation: move-orb 42s ease-in-out infinite;
    animation-delay: 6s;
}
#sass-sphere {
    animation: move-orb 42s ease-in-out infinite;
    animation-delay: 12s;
}
#js-sphere {
    animation: move-orb 42s ease-in-out infinite;
    animation-delay: 18s;
}
#css-sphere {
    animation: move-orb 42s ease-in-out infinite;
    animation-delay: 24s;
}
#node-sphere {
    animation: move-orb 42s ease-in-out infinite;
    animation-delay: 30s;
}
#aws-sphere {
    animation: move-orb 42s ease-in-out infinite;
    animation-delay: 36s;
}

@keyframes move-orb {
    0% {
        transform: matrix(-0.136519,-0.990637,0.990637,-0.136519,-25.1755,525.145);
    }
    15% {
        transform: matrix(-0.136519,-0.990637,0.990637,-0.136519,225.1755,525.145);

    }
    20% {
        transform: matrix(-0.136519,-0.990637,0.990637,-0.136519,225.1755,600.145);
    }
    25% {
        opacity:1;
        transform: matrix(-0.136519,-0.990637,0.990637,-0.136519,225.1755,600.145);
    }
    27% {
        transform: matrix(-0.136519,-0.990637,0.990637,-0.136519,-25.1755,525.145);
        opacity: 0;
    }
    100% {
        transform: matrix(-0.136519,-0.990637,0.990637,-0.136519,-25.1755,525.145);
        opacity: 0;
    }
}

@keyframes levitate {
    0% {
        transform: matrix(0.49059,0,0,0.49059,190.475,192.974)

    }


    50% {
        transform: matrix(0.49059,0,0,0.49059,190.475,182.974)

    }


    100% {
        transform: matrix(0.49059,0,0,0.49059,190.475,192.974)
    }
}

@keyframes shadow-grow-shrink {
    0% {
        transform: scaleX(1) matrix(1,0,0,0.931667,47.8233,54.3631)
    }

    50% {
        transform: scaleX(0.9) matrix(1,0,0,0.931667,85.8233,54.3631)
    }

    100% {
        transform: scaleX(1) matrix(1,0,0,0.931667,47.8233,54.3631)
    }
}
@keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  