button {
  cursor: pointer;
}

.button-group {
  border-top: 1px solid rgb(255, 213, 213);
  padding-top: 25px;
}


.primary-btn {
  @include button($dark, $light);
}
.secondary-btn {
  @include button($light, $background);
}
