.grid-layout {
    display: grid;

}
.grid-center-children {
    justify-content: center;
    align-items: center;
}
.card {
    display:grid;
    border-radius: 30px;
    color: black;
    margin: 50px 0;
    padding:50px 50px;
    min-height:300px;
    background: rgb(255, 235, 235);
    width:90vw;
    h1 {
        color:rgb(15, 14, 14);
    }
}
.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    button {
      margin-right: 20px;
    }
    
}
@media only screen and (max-width: 600px) {
    .button-group {
        display:grid;
        & .primary-btn {
            margin: 10px;
            width: 90vw;
        }
    }
    .card {
        width:100vw;
    }
} 
