.grid-layout {
    display: grid;

}
.grid-center-children {
    justify-content: center;
    align-items: center;
}
.card {
    display:grid;
    color: black;
    height:300px;
    background: white;
    width:90vw;
}