.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.margin-top-5{
    margin-top:5px;
}
.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}
.padding-left-25{
    padding-left: 25px;
}
.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top:20px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}
.float-right {
    float:right;
}
.pointer {
    cursor: pointer;
}
.box-shadow {
    -webkit-box-shadow: 1px 2px 10px -3px rgba(59,59,59,1);
    -moz-box-shadow: 1px 2px 10px -3px rgba(59,59,59,1);
    box-shadow: 1px 2px 10px -3px rgba(59,59,59,1);
}
.text-center {
    text-align: center;
}

.max-screen {
    width: 100vw;
    height: 100vh;
}

/**
    LOADING SPINNER
**/
$loader-size: 7em;

.spinner-container {
  display:flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.circle-loader {
    
  margin-bottom: $loader-size/3;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-left-color: white;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  justify-self:center;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}
